<?xml version="1.0" encoding="UTF-8"?>  
  
<!DOCTYPE hibernate-configuration PUBLIC  
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"  
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="hibernate.show_sql">false</property>
		<property name="hibernate.format_sql">false</property>
		<property name="hibernate.connection.pool_size">5</property>
		<property name="hibernate.cache.provider_class">net.sf.ehcache.hibernate.EhCacheProvider</property>
		<property name="hibernate.cache.use_second_level_cache">true</property>
		<property name="hibernate.cache.use_query_cache">true</property>
		<property name="hibernate.cache.region.factory_class">org.hibernate.cache.infinispan.JndiInfinispanRegionFactory</property>
		<property name="hibernate.cache.infinispan.cachemanager">java:CacheManager/entity</property>
		<property name="hibernate.cache.infinispan.statistics">true</property>
		<property name="hibernate.dialect" >org.hibernate.dialect.MySQLInnoDBDialect</property>
		<mapping class="com.qin.entity.Consigna"/> 
		<mapping class="com.qin.entity.Correccion"/>
		<mapping class="com.qin.entity.Dictamen"/>
		<mapping class="com.qin.entity.Grupo"/>
		<mapping class="com.qin.entity.Materia"/>
		<mapping class="com.qin.entity.Resolucion"/>
		<mapping class="com.qin.entity.Respuesta"/>
		<mapping class="com.qin.entity.TrabajoPractico"/>
		<mapping class="com.qin.entity.Usuario"/>
		<mapping class="com.qin.entity.Alumno"/>
		<mapping class="com.qin.entity.Docente"/>
	</session-factory>
</hibernate-configuration>  
